@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using HealthCare.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>ADMIN - @ViewBag.Title</title>
    @*     <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css" /> *@
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    @*     <link rel="stylesheet" href="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" /> *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin_style.css" />
    <link rel="shortcut icon" href="~/mini-logo.png" />
</head>
<body>
    <div class="container-scroller sidebar-fixed">

        @if (await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin")){
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
                <a class="sidebar-brand brand-logo" href="index.html"><img src="~/logo.png" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini pt-3" href="index.html">
                    <img src="~/mini-logo.png" alt="logo" />
                </a>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-house menu-icon"></i>
                        <span class="menu-title">Health Care</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Role" asp-action="Index">
                        <i class="fa-solid fa-ranking-star menu-icon"></i>
                        <span class="menu-title">Role</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="fa-solid fa-users-gear menu-icon"></i>
                        <span class="menu-title">Users</span>
                        <i class="fa-solid fa-chevron-down menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Index">
                                    <i class="fa-solid fa-user-group menu-icon"></i>
                                    <span class="menu-title">All user</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="DoctorInfoCRUD" asp-action="Index">
                                    <i class="fa-solid fa-stethoscope menu-icon"></i>
                                    <span class="menu-title">Bác sĩ</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="PatientInfoCRUD" asp-action="Index">
                                    <i class="fa-solid fa-bed-pulse menu-icon"></i>
                                    <span class="menu-title">Bệnh nhân</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="AppointmentCRUD" asp-action="Index">
                        <i class="fa-solid fa-clipboard-list menu-icon"></i>                       
                        <span class="menu-title">Lịch hẹn</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="SpecialtyCRUD" asp-action="Index">
                        <i class="fa-solid fa-boxes-packing menu-icon"></i>
                        <span class="menu-title">Khoa</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/SpecialtyCRUD">
                        <i class="fa-solid fa-list-ol menu-icon"></i>
                        <span class="menu-title">Menu</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.bootstrapdash.com/demo/breeze-free/documentation/documentation.html">
                        <i class="fa-regular fa-newspaper menu-icon"></i>
                        <span class="menu-title">Tin tức</span>
                    </a>
                </li>
                <li class="nav-item sidebar-actions">
                    <div class="nav-link">
                        <div class="mt-4">
                            <div class="border-none">
                                <p class="text-black">Notification</p>
                            </div>
                            <ul class="mt-4 pl-0">
                                <li>Sign Out</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            </nav>
        }
        else if (await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Doctor")) {
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
                    <a class="sidebar-brand brand-logo" href="index.html"><img src="~/logo.png" alt="logo" /></a>
                    <a class="sidebar-brand brand-logo-mini pt-3" href="index.html">
                        <img src="~/mini-logo.png" alt="logo" />
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa-solid fa-house menu-icon"></i>
                            <span class="menu-title">Health Care</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <i class="fa-solid fa-users-gear menu-icon"></i>
                            <span class="menu-title">Users</span>
                            <i class="fa-solid fa-chevron-down menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="PatientInfoCRUD" asp-action="Index">
                                        <i class="fa-solid fa-bed-pulse menu-icon"></i>
                                        <span class="menu-title">Bệnh nhân</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-clipboard-list menu-icon"></i>
                            <span class="menu-title">Lịch hẹn</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <i class="fa-regular fa-newspaper menu-icon"></i>
                            <span class="menu-title">Tin tức</span>
                        </a>
                    </li>
                    <li class="nav-item sidebar-actions">
                        <div class="nav-link">
                            <div class="mt-4">
                                <div class="border-none">
                                    <p class="text-black">Notification</p>
                                </div>
                                <ul class="mt-4 pl-0">
                                    <li>Sign Out</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        }

        <div class="container-fluid page-body-wrapper">
            <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
                <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
                    <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img src="~/assets/images/my-white-logo.png" alt="logo" /></a>
                    <a class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                                <i class="fa-regular fa-bell"></i>
                                <span class="count count-varient1">7</span>
                            </a>
                            <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="notificationDropdown">
                                <h6 class="p-3 mb-0">Notifications</h6>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="assets/images/faces/face4.jpg" alt="" class="profile-pic" />
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="mb-0">
                                            Dany Miles <span class="text-small text-muted">commented on your photo</span>
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="assets/images/faces/face3.jpg" alt="" class="profile-pic" />
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="mb-0">
                                            James <span class="text-small text-muted">posted a photo on your wall</span>
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="assets/images/faces/face2.jpg" alt="" class="profile-pic" />
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="mb-0">
                                            Alex <span class="text-small text-muted">just mentioned you in his post</span>
                                        </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0">View all activities</p>
                            </div>
                        </li>
                        <li class="nav-item dropdown d-none d-sm-flex">
                            <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown">
                                <i class="fa-regular fa-envelope"></i>
                                <span class="count count-varient2">5</span>
                            </a>
                            <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="messageDropdown">
                                <h6 class="p-3 mb-0">Messages</h6>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-item-content flex-grow">
                                        <span class="badge badge-pill badge-success">Request</span>
                                        <p class="text-small text-muted ellipsis mb-0"> Suport needed for user123 </p>
                                    </div>
                                    <p class="text-small text-muted align-self-start"> 4:10 PM </p>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-item-content flex-grow">
                                        <span class="badge badge-pill badge-warning">Invoices</span>
                                        <p class="text-small text-muted ellipsis mb-0"> Invoice for order is mailed </p>
                                    </div>
                                    <p class="text-small text-muted align-self-start"> 4:10 PM </p>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-item-content flex-grow">
                                        <span class="badge badge-pill badge-danger">Projects</span>
                                        <p class="text-small text-muted ellipsis mb-0"> New project will start tomorrow </p>
                                    </div>
                                    <p class="text-small text-muted align-self-start"> 4:10 PM </p>
                                </a>
                                <h6 class="p-3 mb-0">See all activity</h6>
                            </div>
                        </li>
                        <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
                            <form class="nav-link form-inline mt-2 mt-md-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right ml-lg-auto">
                        <li class="nav-item dropdown d-none d-xl-flex border-0">
                            <a class="nav-link dropdown-toggle" id="languageDropdown" href="#" data-toggle="dropdown">
                                <i class="fa-solid fa-earth-americas"></i> English
                            </a>
                            <div class="dropdown-menu navbar-dropdown" aria-labelledby="languageDropdown">
                                <a class="dropdown-item" href="#"> French </a>
                                <a class="dropdown-item" href="#"> Spain </a>
                                <a class="dropdown-item" href="#"> Latin </a>
                                <a class="dropdown-item" href="#"> Japanese </a>
                            </div>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item nav-profile dropdown border-0">
                                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                                    <img class="nav-profile-img mr-2" alt="" src="~/admin/images/user.png" />
                                    <span class="profile-name">@User.Identity?.Name</span>
                                </a>
                                <div class="dropdown-menu navbar-dropdown m-0" aria-labelledby="profileDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="UserAuth" asp-action="UpdateProfile">Thông tin tài khoản</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="UserAuth" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Đăng xuất</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="UserAuth" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper pb-0">
                    @RenderBody()
                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center">
                        <p>
                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            DreamStore. All Rights Reserved.
                        </p>
                    </div>
                </footer>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    @* <script src="assets/vendors/js/vendor.bundle.base.js"></script> *@
    <!-- endinject -->
    <!-- Plugin js for this page -->
    @* <script src="assets/vendors/chart.js/Chart.min.js"></script> *@
    <script src="~/js/datepicker.js"></script>
    @* <script src="assets/vendors/flot/jquery.flot.js"></script>
    <script src="assets/vendors/flot/jquery.flot.resize.js"></script>
    <script src="assets/vendors/flot/jquery.flot.categories.js"></script>
    <script src="assets/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="assets/vendors/flot/jquery.flot.stack.js"></script>
    <script src="assets/vendors/flot/jquery.flot.pie.js"></script> *@
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    @* <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script> *@
    <!-- endinject -->
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>   
    <!-- Custom js for this page -->
    <script src="~/js/admin-main.js"></script>
    <!-- End custom js for this page -->

    @RenderSection("scripts", required: false)
</body>
</html>